/* Reset stylesheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* End reset stylesheet */

/* Fonts */
@font-face {
    font-family: 'Bebas';
    src: url('fonts/BEBAS___-webfont.eot?') format('eot'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Candela';
    src: url('fonts/CandelaBook-webfont.eot?') format('eot'),
         url('fonts/CandelaBook-webfont.woff') format('woff'),
         url('fonts/CandelaBook-webfont.ttf') format('truetype'),
         url('fonts/CandelaBook-webfont.svg#webfont7KWfoVd1') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Candela';
    src: url('fonts/CandelaItalic-webfont.eot?') format('eot'),
         url('fonts/CandelaItalic-webfont.woff') format('woff'),
         url('fonts/CandelaItalic-webfont.ttf') format('truetype'),
         url('fonts/CandelaItalic-webfont.svg#webfontPSNBdAiD') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Candela';
    src: url('fonts/CandelaBold-webfont.eot?') format('eot'),
         url('fonts/CandelaBold-webfont.woff') format('woff'),
         url('fonts/CandelaBold-webfont.ttf') format('truetype'),
         url('fonts/CandelaBold-webfont.svg#webfonta8W2vKU6') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Candela';
    src: url('fonts/CandelaBoldItalic-webfont.eot?') format('eot'),
         url('fonts/CandelaBoldItalic-webfont.woff') format('woff'),
         url('fonts/CandelaBoldItalic-webfont.ttf') format('truetype'),
         url('fonts/CandelaBoldItalic-webfont.svg#webfontBZ58KNdm') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* End fonts */

html {
    height: 100%;
    background: #091F29;
    background: -moz-linear-gradient(-45deg, #162B34, #091F29);
}
body {
    font-family: 'Candela', helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    background: inherit;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
header {
    font-family: 'Bebas';
    text-align: center;
    margin: 10px 0 0;
}
header hgroup {
    display: inline-block;
    vertical-align: top;
}
header h1 {
    font-size: 60px;
    color: #1271B9;
    text-shadow: 2px 2px 2px #273C94;
    margin: 10px 0 10px;
}
header h2 {
    color: #666;
    font-size: 30px;
    word-spacing: 7px;
}
header img {
    height: 130px;
    display: inline-block;
    margin-right: 20px;
}
#content {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 20px;
}
#content > section {
    margin: 20px 0 30px;
}
#content h2 {
    font-family: 'Bebas';
    font-size: 45px;
    color: #CF4924;
    text-shadow: 2px 2px 2px #9A201F;
}
#content h2 span {
    font-family: georgia, serif;
    font-style: italic;
    color: #C1C7C9;
    float: right;
    font-size: 18px;
    display: inline-block;
    text-shadow: none;
    margin-top: 20px;
}
#content > section > section {
    background-color: #C1C7C9;
    padding: 20px;
    display: none;
}
#content section.selected-goal > .goal,
#content section.selected-initiatives > .initiatives,
#content section.selected-kpi > .kpi {
    display: block;
}
#content nav {
    float: right;
    word-spacing: 2px;
    margin-right: 10px;
}
#content nav a {
    display: inline-block;
    font-family: 'Bebas';
    padding: 5px;
    color: #999;
    border-top: 5px solid #C1C7C9;
    font-size: 14px;
}
#content nav a:hover {
    color: #666;
}
#content .selected-goal nav a.goal,
#content .selected-initiatives nav a.initiatives,
#content .selected-kpi nav a.kpi {
    border-top: 5px solid #CF4924;
    color: #CF4924;
}
#content h3 {
    font-family: 'Bebas';
    font-size: 18px;
    margin-bottom: 10px;
    word-spacing: 3px;
}
#content h3 a {
    color: #999;
    text-decoration: none;
    margin: 0 2px;
}
#content h3 a:hover {
    color: #666;
}

/* Goal */
#content .goal p {
    margin-bottom: 10px;
    line-height: 1.1;
}
#content .goal h4 {
    font-weight: bold;
    margin: 15px 0 5px;
}
#content .goal ul {
    margin-left: 10px;
}
#content .goal li {
    margin-left: 10px;
    list-style: disc;
    line-height: 1.1;
}

/* Initiatives */
#content .initiatives .quarter {
    display: none;
}
#content .initiatives p.quarter {
    color: #666;
    font-size: 16px;
    margin-left: 20px;
    padding: 3px 0;
}
#content .initiatives li {
    font-size: 16px;
    padding: 3px 0 3px 15px;
}
#content .initiatives li div {
    display: none;
    background-color: #E0E3E4;
    position: absolute;
    z-index: 20;
    width: 803px;
    padding: 5px;
    margin-left: 32px;
    font-size: 14px;
    color: #666;
}
#content .initiatives li div a {
    text-decoration: underline;
}
#content .initiatives li:hover {
    background-color: #E0E3E4;
}
#content .initiatives li:hover div {
    display: block;
}

/* Selected Quarter */
#content .initiatives.selected-q1 h3 a.q1 {
    color: #333;
}
#content .initiatives.selected-q1 .quarter.q1 {
    display: block;
}
#content .initiatives.selected-q2 h3 a.q2 {
    color: #333;
}
#content .initiatives.selected-q2 .quarter.q2 {
    display: block;
}
#content .initiatives.selected-q3 h3 a.q3 {
    color: #333;
}
#content .initiatives.selected-q3 .quarter.q3 {
    display: block;
}
#content .initiatives.selected-q4 h3 a.q4 {
    color: #333;
}
#content .initiatives.selected-q4 .quarter.q4 {
    display: block;
}

/* Progress meters */
#content .initiatives li > span {
    display: inline-block;
    border: 1px solid #666;
    margin-right: 5px;
    width: 25px;
    height: 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#content .initiatives li > span span {
    display: block;
    height: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
}
#content .initiatives li.p0 > span {
    border-color: #9A201F;
}
#content .initiatives li.p0 > span.p0 span {
    width: 0%;
    background-color: #9A201F;
}
#content .initiatives li.p10 > span {
    border-color: #9A201F;
}
#content .initiatives li.p10 > span span {
    width: 10%;
    background-color: #9A201F;
}
#content .initiatives li.p25 > span {
    border-color: #9A201F;
}
#content .initiatives li.p25 > span span {
    width: 25%;
    background-color: #9A201F;
}
#content .initiatives li.p50 > span {
    border-color: #9A8128;
}
#content .initiatives li.p50 > span span {
    width: 50%;
    background-color: #9A8128;
}
#content .initiatives li.p75 > span {
    border-color: #1F9A44;
}
#content .initiatives li.p75 > span span {
    width: 75%;
    background-color: #1F9A44;
}
#content .initiatives li.p90 > span {
    border-color: #1F9A44;
}
#content .initiatives li.p90 > span span {
    width: 90%;
    background-color: #1F9A44;
}
#content .initiatives li.p100 > span {
    border-color: #1F9A44;
}
#content .initiatives li.p100 > span span {
    width: 100%;
    background-color: #1F9A44;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* KPI */
#content .kpi table {
    width: 100%;
    font-size: 16px;
    margin-top: -15px;
    padding-left: 15px;
}
#content .kpi th {
    font-family: 'Bebas';
    font-size: 10px;
    text-align: right;
    color: #666;
}
#content .kpi td {
    padding: 3px 0;
    text-align: right;
}
#content .kpi td:first-child {
    text-align: left;
}
#content .kpi tr.has-chart td:first-child {
    background-image: url(images/stats.png);
    background-repeat: no-repeat;
    background-position: right 3px;
}
#content .kpi tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.2);
}
#content .kpi tr:hover td {
    background-color: #E0E3E4;
}
#content .kpi tr td > div {
    display: none;
    background-color: #E0E3E4;
    position: absolute;
    z-index: 20;
    padding: 5px;
    margin-left: -460px;
    width: 450px;
    margin-top: 4px;
}
#content .kpi tr:hover td > div {
    display: block;
}
#content .chart {
    height: 200px;
    width: 450px;
}

/* Time Vampires */
#content #vampires {
    padding: 20px;
    background-color: #C1C7C9;
    display: none;
}
#content #vampires h2 {
    font-size: 20px;
    word-spacing: 4px;
    color: #333;
    text-shadow: none;
}
#content #vampires section {
    display: block;
}
#content #vampires p {
    margin: 10px 0;
    color: #666;
}
#content #vampires li strong {
    font-weight: bold;
    margin-right: 10px;
}

footer {
    text-align: center;
    color: #666;
    font-family: 'Bebas';
    word-spacing: 2px;
    font-size: 11px;
    padding-bottom: 10px;
}
footer a:hover {
    color: #999;
}
footer span {
    font-size: 14px;
    margin: 0 5px;
}